@{
    ViewData["Title"] = "Home Page";
}

<h2>Form State</h2>
<ul>
    <li><a asp-controller="Counter" asp-action="Index">Counter</a></li>
    <li><a asp-controller="Quiz" asp-action="Index">Quiz</a></li>
</ul>